.hero__slider {
  position: absolute;
  width: 100%;
  height: inherit;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  will-change: opacity;
}

.slider__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .15;
  z-index: 200;
}