.aboutProducts {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: var(--v-pad);
}

.aboutProducts .section__h2 {
    padding-left: var(--h-pad);
}

.aboutProducts__products {
    width: 100%;
    display: grid;
    margin-top: var(--v-pad);
    grid-template-columns: auto auto auto auto;
}

@media screen and (max-width: 1024px) {
    .aboutProducts__products {
        grid-template-columns: auto auto auto;
        row-gap: 2rem;
    }
}

@media screen and (max-width: 768px) {
    .aboutProducts__products {
        grid-template-columns: auto auto;
    }
}