.image {
    height: 100%;
    width: 100%;
    flex-shrink: 0;
    background: var(--sec);
    border-bottom: var(--border-size) solid var(--border);
    border-right: var(--border-size) solid var(--border);
}