.sectionH3 {
    font-size: 1.5rem;
    text-transform: uppercase;
    line-height: 1;
    font-weight: 800;
    color: #555;
    margin-bottom: .5rem; 
}

@media screen and (max-width: 1240px) {
    .sectionH3 {
      font-size: 1.25rem;
    }
}

@media screen and (max-width: 1024px) {
    .sectionH3 {
      font-size: 1.1rem;
    }
}

@media screen and (max-width: 768px) {
    .sectionH3 {
      font-size: 1rem;
      margin-bottom: .5rem;
    }
}
