.products {
    width: 100%;
    display: grid;
    position: relative;
    z-index: 100;
    gap: var(--border-size);
    overflow: hidden;
    background: #fff;
    padding-top: var(--v-pad);
    padding-bottom: var(--v-pad);
    border-bottom: var(--border-size) solid var(--border);
}

.products__cont {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

@media screen and (max-width: 1024px) {
    .products__cont {
        grid-template-columns: auto auto auto;
    }

    .products__cont {
        row-gap: 2rem;
    }
}

@media screen and (max-width: 640px) {
    .products__cont {
        grid-template-columns: 50% 50%;
    }
}