.gallery {
    width: 100%;
    height: 42vw;
    min-height: 400px;
    position: relative;
    background: var(--sec);
    user-select: none;
}

.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery__btns {
    position: absolute;
    bottom: var(--v-pad);
    right: var(--h-pad);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.gallery__btn {
    height: 56px;
    width: 56px;
    border-radius: 50%;
    background: #fff;
    border: var(--border-size) solid var(--border);
    cursor: pointer;
    transition: .25s;
}

.gallery__btn:hover {
    background: var(--acc);
}