.info {
    width: 100%;
    display: flex;
    padding: var(--v-pad) var(--h-pad);
    background: var(--border);
    border-top: var(--border-size) solid var(--border);
    border-bottom: var(--border-size) solid var(--border);
}

.info p {
    color: #fff;
    font-size: 4rem;
    line-height: 1.2;
    font-weight: 500;
}

@media screen and (max-width: 1240px) {
    .info p {
        font-size: 3rem;
        font-weight: 400;
    }
}

@media screen and (max-width: 1024px) {
    .info p {
        font-size: 2rem;
        font-weight: 400;
    }
}

@media screen and (max-width: 768px) {
    .info p {
        font-size: 1.5rem;
    }
}