.card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-height: 320px;
    overflow: hidden;
    cursor: pointer; 
    border-bottom: var(--border-size) solid var(--border);
    border-right: var(--border-size) solid var(--border);
}

.card:last-child {
    border-right: none;
}

.card__img {
    width: 100%;
    height: 100%;
}

.card__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card__data {
    width: 100%;
    padding: 1rem;
    transition: .25s ease;
    height: fit-content;
    background: #fff;
    border-top: var(--border-size) solid var(--border);
}

.card__data-active {
    background: var(--pri);
}

.card__data p {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.1rem;
}

.card:hover .card__data {
    bottom: 0;
    background: var(--pri);
}

@media screen and (max-width: 1024px) {

    .card__data {
        padding: .75rem;
    }

    .card__data p {
        font-size: 1rem;
    }
}

@media screen and (max-width: 768px) {
    .card:nth-child(2) {
        border-right: none;
    }

    .card__data {
        padding: .65rem;
    }

    .card__data p {
        font-weight: 700;
    }
}