.hero {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
}

.hero__data {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative; 
    z-index: 500;
    overflow: hidden;
}

.hero__data span {
    text-transform: uppercase;
    font-family: "Bebas Neue", sans-serif; 
    line-height: .8;
    font-weight: 800;
    font-size: 16vw;
    user-select: none;
    white-space: nowrap;
    padding: 0 2rem;
    color: var(--sec-1);
    letter-spacing: 2px;
    margin-top: 2rem;
    opacity: .8;
}

.hero__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    user-select: none;
}

.hero__bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 100;
}

@media screen and (max-width: 1024px) {
    .hero__data span {
        font-size: 26vw;
        text-wrap: wrap;
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .hero, 
    .hero__bg {
        height: 90vh;
    }

    .hero__data h1 {
        font-size: 4rem;
        letter-spacing: 2px;
    }
}
