.button {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    cursor: pointer;
    align-items: center;
    background: transparent;
    position: relative;
    overflow: hidden;
    user-select: none;
    gap: 1rem;
    width: 100%;
    justify-content: space-between;
}

.button__p {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 0;
    color: var(--border);
    z-index: 10;
}

.button:hover .button__bg {
    transform: translateX(0);
}

.button__icon-cont {
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: var(--border-size) solid var(--border);
    transition: .5s ease;
}

.button__icon {
    width: 1rem;
    height: 1rem;
    color: var(--border);
    transform: rotateZ(215deg);
    transition: .5s ease;
}

.button:hover .button__icon-cont {
    background: var(--border);
}

.button:hover .button__icon {
    transform: rotateZ(270deg);
    color: var(--pri);
}

@media screen and (max-width: 1024px) {

    .button__p {
        font-size: 1.25rem;
    }
}

@media screen and (max-width: 480px) {

    .button__p {
        font-size: 1rem;
    }

    .button__icon-cont {
        height: 2rem;
        width: 2rem;
    }

    .button__icon {
        width: .75rem;
        height: .75rem;
    }
}