.companyInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: var(--v-pad) 0;
    border-top: var(--border-size) solid var(--border);
    border-bottom: var(--border-size) solid var(--border);
    background: #000;
}

.companyInfo .sectionH3 {
    padding-left: var(--h-pad);
}


.companyInfo .section__h2 {
    padding-left: var(--h-pad);
    color: #fff;
}

.companyInfo__data {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    padding: var(--v-pad) var(--h-pad);
}

.companyInfo__data-h4 {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: .5rem;
    text-transform: uppercase;
    color: #555;
}

.companyInfo__data-ul {
    font-size: 1.75rem;
    font-weight: 500;
    list-style: none;
    text-wrap: nowrap;
    color: #ddd;
}

@media screen and (max-width: 1240px) {
    .companyInfo__data-h4 {
        font-size: 1.25rem;
    }
    .companyInfo__data-ul {
        font-size: 1.5rem;
    }
    .companyInfo__data {
        gap: 4rem;
    }
}

@media screen and (max-width: 1024px) {
    .companyInfo__data-h4 {
        font-size: 1rem;
    }
    .companyInfo__data-ul {
        font-size: 1.25rem;
    }
    .companyInfo__data {
        gap: 3rem;
    }
}

@media screen and (max-width: 768px) {
    .companyInfo__data {
        gap: 2rem;
        justify-content: flex-start;
    }
}