.about {
    width: 100%;
    height: fit-content;
    display: flex;
    border-top: var(--border-size) solid var(--border);
    border-bottom: var(--border-size) solid var(--border);
    background: #fff;
    transition: .5s ease;
}

.about:hover {
    background: var(--pri);
}

.about__alt {
    background: var(--acc);
}

.about__data {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: var(--h-pad);
    padding: var(--v-pad) var(--h-pad);
    align-items: center;
}

.about__data-h2 {
    width: 50%;
}

.about__data-p {
    width: 50%;
}

.about__data-h2 .sectionH2 {
    margin-bottom: 0;
}

.about__data p {
    color: #000;
    font-size: 2.5rem;
    line-height: 1.25;
    font-weight: 600;
}

.about__boxes {
    width: 100%;
    height: fit-content;
    display: flex;
}

.about__boxes-cont {
    width: 60%;
    display: flex;
    height: fit-content;
}

@media screen and (max-width: 1240px) {
    .about__data p {
        font-size: 1.75rem;
        line-height: 1.25;
        font-weight: 600;
    }
}

@media screen and (max-width: 1024px) {
    .about__data p {
        font-size: 1.5rem;
    }
}


@media screen and (max-width: 768px) {
    .about__data {
        flex-direction: column;
        gap: 0;
        padding: calc(var(--v-pad) + 1rem) var(--h-pad);
    }

    .about__data-h2 {
        width: 100%;
        margin-bottom: 1rem;
    }
    
    .about__data-p {
        width: 100%;
    }

    .about__data-p p {
        font-size: 1.25rem;
        font-weight: 500;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 480px) {

    .about__data-p p {
        font-size: 1rem;
    }
}