.productCard {
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: relative;
    user-select: none;
    background: var(--test-3);
}

.productCard__img {
    width: 100%;
    height: 100%;
}

.productCard__img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.productCard__data {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--acc);
    opacity: 0;
    transition: .25s ease;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.productCard__data h4 {
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 2px;
    font-size: 3rem;
    line-height: 1;
}

.productCard__data p {
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
}

.productCard:hover .productCard__data {
    opacity: 1;
    animation: none;
}

.productCard__data-btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn__icon-cont {
    border-radius: 50%;
    border: 2px solid var(--border);
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s ease;
}

.btn__icon {
    transform: rotateZ(215deg);
    transition: .5s ease;
}

.productCard:hover .btn__icon-cont {
    background: var(--border);
}

.productCard:hover .btn__icon {
    transform: rotateZ(270deg);
    color: var(--acc);
}


@media screen and (max-width: 1240px) {

    .productCard__data {
        padding: 1.5rem;
    }

    .productCard__data h4 {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 768px) {

    .productCard__img img {
        height: 100%;
    }
}

@media screen and (max-width: 460px) {

    .productCard__data h4 {
        font-size: 2rem;
    }
}