.productCard {
    width: 100%;
    cursor: pointer;
    position: relative;
    user-select: none;
}

.productCard__data {
    padding-left: 1rem;
}

.productCard__data h4 {
    font-size: 1.75rem;
    font-weight: 500;
    margin-bottom: .25rem;
}

.productCard__data p {
    font-size: 1.25rem;
    font-weight: 500;
    width: fit-content;
    border-bottom: 2px solid #fff;
}

.productCard__img {
    height: 32vw;
    border-top: var(--border-size) solid var(--border);
    border-right: var(--border-size) solid var(--border);
    border-bottom: var(--border-size) solid var(--border);
    position: relative;
    margin-bottom: .75rem;
}

.productCard__img span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--pri);
    transition: .25s ease;
    opacity: 0;
}

.productCard:hover .productCard__data p {
    border-color: var(--border);
}

.productCard:last-child .productCard__img {
    border-right: none;
}

.productCard__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


@media screen and (max-width: 1240px) {

    .productCard__data {
        padding-left: .5rem;
    }

    .productCard__data h4 {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 1024px) {
    .productCard__img {
        height: 42vw;
    }

    .productCard:nth-child(3) .productCard__img {
        border-right: none;
    }

    .productCard:last-child .productCard__img {
        border-right: var(--border-size) solid var(--border);
    }
}

@media screen and (max-width: 640px) {
    
    .productCard h4 {
        font-size: 1.25rem;
    }
    
    .productCard__img {
        height: 60vw;
    }

    .productCard:nth-child(2) .productCard__img {
        border-right: none;
    }

    .productCard:nth-child(3) .productCard__img {
        border-right: var(--border-size) solid var(--border);
    }

    .productCard:last-child .productCard__img {
        border-right: none;
    }
}

