.navbarLink {
    cursor: pointer;
    width: fit-content;
    position: relative;
}

.navbarLink h4 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 7rem;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 1;
    transition: .25s ease;
}

.link__active h4 {
    font-style: oblique;
}

.navbarLink:hover h4 {
    letter-spacing: 4px;
}

.navbarLink__transition {
    position: absolute;
    width: 110%;
    height: 100%;
    background: var(--acc);
}

@media screen and (max-height: 768px ) {
    .navbarLink h4 {
        font-size: 6rem;
    }
}

@media screen and (max-width: 768px) {
    .navbarLink h4 {
        font-size: 6rem;
    }
}

@media screen and (max-width: 480px) {
    .navbarLink h4 {
        font-size: 5rem;
    }
}