.productsInfo {
    width: 100%;
    height: fit-content;
    border-bottom: var(--border-size) solid var(--border);
    display: flex;
    flex-direction: column;
    background: #fff;
}

.productsInfo__tabs {
    width: 100%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.productsInfo__tabs-tab {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 80px;
    cursor: pointer;
    transition: .25s ease;
}

.productsInfo__tabs-tab:last-child {
    border-right: none;
}

.productsInfo__tabs-tab h4 {
    color: var(--border);
    font-family: "Bebas Neue", sans-serif; 
    font-size: 2rem;
    letter-spacing: 2px;
    transition: .25s ease;
}

.productsInfo__tabs-tab:hover {
    background: var(--acc);
}

.productsInfo__tabs-tab:hover h4 {
    color: var(--border);
}


.productsInfo__data {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: var(--v-pad) var(--h-pad);
}

.productsInfo__data h3 {
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: "Bebas Neue", sans-serif;
    line-height: 1.5;
    color: var(--border);
}

.productsInfo__data p {
    color: #777;
    font-size: 1.25rem;
    line-height: 1.25;
    font-weight: 400;
    max-width: 800px;
}