.productsInfo {
    width: 100%;
    height: fit-content;
    border-bottom: var(--border-size) solid var(--border);
    display: flex;
    flex-direction: column;
}

.productsInfo__menu {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    list-style: none;
}

.productsInfo__data {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: var(--v-pad) var(--h-pad);
}

.productsInfo__data h3 {
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: "Bebas Neue", sans-serif;
    line-height: 1.5;
    color: #111;
}

.productsInfo__data p {
    color: #777;
    font-size: 1.5rem;
    line-height: 1.25;
    font-weight: 600;
    max-width: 800px;
}