.navbar {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem var(--h-pad);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    background: #fff;
    transition: .5s ease;
    border-bottom: var(--border-size) solid var(--border);
}

.navbar__hide {
    transform: translateY(-100%);
    opacity: 0;
}

.navbar__change {  
    opacity: 1;
    transform: translateY(0);
}

.navbar__cont {
    display: flex;
    align-items: center;
    gap: 1rem;
    background: none;
    border: none;
}

.navbar__cont button {
    display: flex;
    align-items: center;
    gap: 1rem;
    background: none;
    border: none;
    cursor: pointer;
}

.navbar__cont button:disabled {
    cursor: default;
}

.navbar__logo-icon {
    width: 2.5rem;
    height: 2.5rem;
    margin: -.5rem;
    z-index: 1300;
    user-select: none;
}

.navbar__logo {
    font-family: "Bebas Neue", sans-serif;
    font-size: 3rem;
    color: #111;
    letter-spacing: 2px;
    line-height: .5;
    margin-top: .4rem;
    font-weight: 800;
    z-index: 1300;
    user-select: none;
}

.navbar__cont p {
    font-size: 1.25rem;
    font-weight: 500;
}

.navbar__links {
    display: flex;
    list-style: none;
    gap: 1rem;
}

.navbar__links li {
    cursor: pointer;
}

.navbar__links li:hover p {
    border-color: var(--border);
}

.navbar__links li p {
    font-size: 1.25rem;
    text-transform: uppercase;
    line-height: .9;
    font-weight: 700;
    color: #555;
    border-bottom: 2px solid transparent;
}

.navbar__links-link:hover {
    color: var(--test);
}

.menu {
    cursor: pointer;
    z-index: 1300;
    user-select: none;
    display: none;
    background: none;
    border: none;
}

.menu h4 {
    font-size: 1.25rem;
    font-family: "Poppins", sans-serif;
    color: #111;
    font-weight: 700;
    transition: .25s ease;
    text-transform: uppercase;
}

@media screen and (max-width: 1620px) {
    .navbar__logo {
        font-size: 2.5rem;
        letter-spacing: 2px;
        line-height: .5;
        margin-top: .2rem;
    }
}

@media screen and (max-width: 1240px) {
    .navbar__cont {
        gap: 1rem;
    }
}


@media screen and (max-width: 1024px) {
    .navbar__links {
        display: none;
    }

    .hamburger {
        display: flex;
    }

    .menu {
        display: flex;
    }

}

@media screen and (max-width: 768px) {
    .navbar {
        padding: .75rem var(--h-pad);
    }

    .navbar__overlay {
        width: 100%;
        justify-content: center;
    }

}

@media screen and (max-width: 640px) {
    .navbar__logo {
        font-size: 2rem;
    }

    .navbar__cont p {
        display: none;
    }

    .menu h4 {
        font-size: 1rem;
    }

    .navbar__logo-icon {
        width: 2rem;
        height: 2rem;
    }
}

@media screen and (max-width: 360px) {
    .navbar__logo {
        display: none;
    }
}