.productInfo {
    width: 100%;
    min-height: 460px;
    border-top: var(--border-size) solid var(--border);
    border-bottom: var(--border-size) solid var(--border);
    background-size: cover;
}

.productInfo__imgs {
    width: 100%;
    height: 40vw;
    min-height: 360px;
    border-bottom: var(--border-size) solid var(--border);
}

.productInfo__imgs img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.productInfo__cont {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: var(--v-pad) var(--h-pad);
    background: #fff;
}

.productInfo__cont .section__h2 {
    margin-bottom: 1rem;
}

.productInfo__products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    margin-bottom: var(--v-pad);
    min-height: 2rem;
}

.productInfo__products h2 {
    text-transform: uppercase;
    cursor: pointer;
    transition: .25s ease;
    text-wrap: none;
}

.productInfo__data {
    width: 100%;
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 1rem;
    margin-top: var(--v-pad);
}

.productInfo__data-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: .5rem;
}

.productInfo__data-info li {
    display: flex;
    gap: .5rem;
}

.productInfo__data-info p:first-child {
    font-size: 1.2rem;
    font-weight: 600;
    color: #222;
}

.productInfo__data-info p:last-child {
    font-size: 1.2rem;
    font-weight: 400;
    color: #444;
}

.productInfo__data-desc p {
    font-size: 1.2rem;
    font-weight: 400;
    color: #444;
}

@media screen and (max-width: 1024px) {

    .productInfo__data {
        margin-top: 0;
    }

    .productInfo__products {
        gap: 1rem;
    }

    .productInfo__data {
        display: flex;
        flex-direction: column-reverse;
        gap: 2rem;
    }

    .productInfo__data-desc p,
    .productInfo__data-info p:first-child,
    .productInfo__data-info p:last-child {
        font-size: 1.1rem;
    }

}

@media screen and (max-width: 460px) {

    .productInfo__products {
        margin-bottom: 2rem;
    }

    .productInfo__data-desc p,
    .productInfo__data-info p:first-child,
    .productInfo__data-info p:last-child {
        font-size: 1rem;
    }
}