.footer {
    width: 100%;
    display: flex;
    background: #fff;
    border-top: var(--border-size) solid var(--border);
    padding: var(--v-pad) var(--h-pad);
}

.footer__data {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: var(--h-pad);
    flex-wrap: wrap;
}

.footer__data p {
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: 500;
    color: #111;
}

@media screen and (max-width: 768px) {
    .footer__data p {
        font-size: 1rem;
    }
}
