.dual {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: var(--border-size);
    background: var(--border);
    transition: .5s ease;
}

.dual__data {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: var(--v-pad) var(--h-pad);
    justify-content: space-between;
    transition: .5s ease;
    height: 40vw;
    min-height: 480px;
    background: #fff;
}

.dual__data:hover {
    background: #F0F5F5;
}

.dual__img {
    width: 100%;
    background: var(--sec-1);
}

.dual__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dual__alt > :first-child {
    order: 2;
}

.dual__alt .dual__img {
    background: var(--sec-2);
}

@media screen and (max-width: 768px) {
    .dual {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }

    .dual > :first-child {
        order: 1;
    }

    .dual__data {
        min-height: 280px;
        height: fit-content;
    }

    .dual__img img {
        margin-bottom: -6px;
    }
}

@media screen and (max-width: 480px) {
    .dual__data {
        height: 240px;
    }

    .dual__img {
        height: 440px;
    }

    .dual__img img {
        height: 440px;
        object-fit: cover;
    }
}
