* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
  font-family: "Poppins", sans-serif;
  width: 100%;
}

a {
  text-decoration: none;
}

::-moz-selection { 
  color: #fff;
  background: var(--border);
}

::selection {
  color: #fff;
  background: var(--sec-1);
}

:root {
  --h-pad: 3rem;
  --v-pad: 3rem;
  --border-size: 4px;

  --bg: #0D0D0D;
  --border: #0D0D0D;

  --pri: #dfdfdf;

  --sec-1: #253B40;
  --sec-2: #98A4A6;
  --sec-3: #D9D4CC;
}

@media screen and (max-width: 1240px) {
  :root {
    --border-size: 3px;
  }
}

@media screen and (max-width: 1024px) {
  :root {
    --h-pad: 2rem;
    --v-pad: 2rem;
  }
}

@media screen and (max-width: 480px) {
  :root {
    --h-pad: 1rem;
    --v-pad: 1.25rem;
    --border-size: 2px;
  }
}