* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
  font-family: "Montserrat", sans-serif;
  width: 100%;
}

a {
  text-decoration: none;
}

::-moz-selection { 
  color: #fff;
  background: var(--border);
}

::selection {
  color: #000;
  background: var(--pri);
}

:root {
  --h-pad: 3rem;
  --v-pad: 3rem;
  --border-size: 4px;

  --bg: #000;
  --border: #000;

  --pri: #DBF227;

  --sec-1: #005C53;
  --sec-2: #042940;
  --sec-3: #042940;
}

@media screen and (max-width: 1240px) {
  :root {
    --border-size: 3px;
  }
}

@media screen and (max-width: 1024px) {
  :root {
    --h-pad: 2rem;
    --v-pad: 2rem;
  }
}

@media screen and (max-width: 480px) {
  :root {
    --h-pad: 1rem;
    --v-pad: 1.25rem;
    --border-size: 2px;
  }
}