.select__cont {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0;
    user-select: none;
    position: relative;
}

.select__cont button {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
}

.select {
    width: 100%;
    padding: .75rem 1.25rem;
    background: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border: none;
    position: relative;
    border: 2px solid #000;
    border-bottom-color: #000;
}

.select__cont .open {
    border-bottom-color: transparent !important;
}

.select__cont space {
    width: 100%;
    padding: .75rem 1.25rem;
}

.open {
    border-bottom: none;
}

.select__placeholder {
    color: #888;    
}

.select__icon {
    width: 1.5rem;
    height: 1.5rem;
    right: .75rem;
    position: absolute;
    transition: .25s ease-in-out;
}

.select__dropdown {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    overflow: hidden;
    top: 3rem;
    left: 0;
    background: #fff;
    border-top: none;
    border: 2px solid #000;
}

.rotated {
    transform: rotate(180deg);
}

.select__dropdown button {
    border: none;
    background: none;
    display: flex;
    padding: .5rem 1.25rem;
    cursor: pointer;
    color: #666;
}

.select__dropdown button:hover {
    background-color: #efefef;
}

@media screen and (max-width: 640px) {
    .select,
    .select__dropdown button {
        padding: .5rem 1rem;
    }

    .select__dropdown {
        top: 2.7rem;
    }
}