.select__cont {
    width: fit-content;
}

.select {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 2rem;
    position: relative;
    cursor: pointer;
}

.select .section__h2 {
}

.select__icon {
    height: 2rem;
    width: 2rem;
}

.select__dropdown {
    width: 100%;
    position: absolute;
    padding: 1rem;
    background: #fff;
    border: var(--border-size) solid var(--border);
}

.select__dropdown-items {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.select__dropdown-items li {
    cursor: pointer;
    font-size: 2rem;
    font-family: "Bebas Neue", sans-serif; 
}