.infoColumns {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: var(--v-pad) 0;
    border-top: var(--border-size) solid var(--border);
    border-bottom: var(--border-size) solid var(--border);
}

.infoColumns .sectionH3 {
    padding-left: var(--h-pad);
}


.infoColumns .sectionH2 {
    padding-left: var(--h-pad);
}

.infoColumns__data {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    padding: var(--v-pad) var(--h-pad);
}

.infoColumns__data-h4 {
    font-size: 1.1rem;
    font-weight: 700;
    margin-bottom: .5rem;
    text-transform: uppercase;
    color: #555;
}

.infoColumns__data-ul, 
.infoColumns__data-div {
    max-width: 360px;
}

.infoColumns__data-ul li,
.infoColumns__data-div p {
    font-size: 1.5rem;
    font-weight: 600;
    list-style: none;
    color: #000;
}

.infoColumns__data-div {
    text-wrap: wrap;
}

.infoColumns__data-div a,
.infoColumns__data-div span {
    text-decoration: underline;
    cursor: pointer;
    color: #000;
}

@media screen and (max-width: 1240px) {
    .infoColumns__data-h4 {
        font-size: 1.25rem;
    }
    .infoColumns__data-ul {
        font-size: 1.5rem;
    }
    .infoColumns__data {
        gap: 4rem;
    }
}

@media screen and (max-width: 1024px) {
    .infoColumns__data-h4 {
        font-size: 1rem;
    }
    .infoColumns__data-ul {
        font-size: 1.25rem;
    }
    .infoColumns__data {
        gap: 3rem;
    }
}

@media screen and (max-width: 768px) {
    .infoColumns__data {
        gap: 2rem;
        justify-content: flex-start;
    }
}