.navbar__overlay {
    position: absolute;
    overflow: hidden;
    top: 0;
    right: 0;
    width: 100%;
    background: var(--acc);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1250;
    padding: 0 var(--h-pad);
    border-bottom: var(--border-size) solid var(--border);
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}

.navbar__overlay-links {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 1rem;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .navbar__overlay-links {
        gap: .5rem;
    }
}