.pagesHero {
    width: 100%;
    background: #fff;
    position: relative;
    margin-top: 70px;
}

.pagesHero__title {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: var(--border-size) solid var(--border);
}

.pagesHero__title h2 {
    font-size: 15vw;
    text-transform: uppercase;
    font-family: "Bebas Neue", sans-serif; 
}

.pagesHero__gallery {
    width: 100%;
    height: 45vw;
    min-height: 400px;
    position: relative;
    background: var(--sec);
}

.pagesHero__gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery__btns {
    position: absolute;
    bottom: var(--v-pad);
    right: var(--h-pad);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.gallery__btn {
    height: 76px;
    width: 76px;
    border-radius: 50%;
    background: #fff;
    border: var(--border-size) solid var(--border);
    cursor: pointer;
}

@media screen and (max-width: 1024px) {
    .pagesHero {
        margin-top: 64px;
    }
}