.pagesHero {
    width: 100%;
    background: #fff;
    position: relative;
    margin-top: 70px;
}

.pagesHero__title {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: var(--border-size) solid var(--border);
    overflow-x: hidden;
    gap: 4rem;
}

.pagesHero__title h2 {
    font-size: 15vw;
    text-transform: uppercase;
    font-family: "Bebas Neue", sans-serif; 
    user-select: none;
    white-space:nowrap;
}

@media screen and (max-width: 1024px) {
    .pagesHero {
        margin-top: 64px;
    }
}